%h1 Finalize Quiz

= simple_form_for quiz, url: course_quiz_path(current_course, quiz) do |f|
  = f.input :title
  = f.input :deadline, as: :date
  - unless quiz.questions.first.new_record?
    = f.input :published, hint: "publishing makes an assignment visible to students"

  %fieldset.corequisites
    %legend Corequisites
    = f.input :corequisite_fullpaths, as: :check_boxes, collection: material_fullpaths.map{ |mf| [Corequisite.new(mf).formatted_title, mf] }

  = f.simple_fields_for :questions do |q|
    %fieldset
      %legend= q.object.try(:question) || "Add another question"
      = q.input :question
      .row
        .small-12.medium-6.columns
          = q.input :question_type, label: "Question Type", collection: [["Free Text", Question::FREE_TEXT], ["True/False", Question::BOOLEAN]], include_blank: true
        .small-12.medium-6.columns
          = q.input :correct_answer, label: "Correct Answer"

  = f.button :submit, "Save Changes"
