%h1 First Day Checkin

%ol
  %li
    %p Do you have a copy of ruby 2.0? (The answer had better be yes!)
    = radio_button_tag "test", "True"
    %label True
    = radio_button_tag "test", "False"
    %label False
  %li
    %p What is the result of running `ruby -v` in your terminal or console?
    %input{ type: 'text' }
  %li
    %p What is an object?
    %input{ type: 'text' }
  %li
    %p  What is a prototype in Javascript?
    %input{ type: 'text' }
  %li
    %p  What is your goal in completing this class?
    %input{ type: 'text' }
  %li
    %p  What is a database?
    %input{ type: 'text' }
  %li
    %p Did you use any reference material in this quiz? (The answer should be NO!)
    = radio_button_tag "test", "True"
    %label True
    = radio_button_tag "test", "False"
    %label False
  %li
    %p Have you filled out your profile? (Now is the time!)
    = radio_button_tag "test", "True"
    %label True
    = radio_button_tag "test", "False"
    %label False
