%h1 Finalize Assignment

= simple_form_for assignment, url: course_assignment_path(current_course, assignment) do |f|
  = f.input :title
  = f.input :summary
  = f.input :start_date, label: "Start Date", as: :date
  = f.input :published, hint: "publishing makes an assignment visible to students"
  = f.simple_fields_for :milestones do |m|
    %fieldset
      %legend #{m.object.title} Milestone
      = m.input :title
      = m.input :instructions
      = m.input :deadline, as: :date
      = render "corequisites/corequisites_fields", f: m

  = f.button :submit, "Save Assignment"
