%h1 Finalize Assignment

= simple_form_for assignment, url: course_assignment_path(current_course, assignment) do |f|
  = f.input :title
  = f.input :summary
  = f.input :published, hint: "publishing makes an assignment visible to students"
  = f.simple_fields_for :milestones do |m|
    %fieldset
      %legend #{m.object.title} Milestone
      = m.input :title
      = m.input :instructions
      = m.input :deadline, as: :date
      %fieldset.corequisites
        %legend Corequisites
        = m.input :corequisite_fullpaths, as: :check_boxes, collection: material_fullpaths.map{ |mf| [Corequisite.new(mf).formatted_title, mf] }
  = f.button :submit, "Save Assignment"
