%h1 Assignments

%ul.no-bullet
  - viewable_assignments.each do |assignment|
    %li= link_to assignment.title_with_deadlines, course_assignment_path(current_course, assignment)

%h2 Quizzes

%ul.no-bullet
  - published_quizzes.each do |quiz|
    - if can? :view, quiz
      - quiz_submission = current_user.quiz_submissions.find{ |qs| qs.quiz == quiz }
      - if quiz_submission
        - if quiz_submission.graded?
          %li= link_to "#{quiz.title} (#{quiz_submission.formatted_grade})", course_quiz_submission_path(current_course, quiz)
        - elsif quiz_submission.submitted?
          %li= link_to "#{quiz.title} (submitted for grading)", course_quiz_submission_path(current_course, quiz)
        - else
          %li= link_to "#{quiz.title} (incomplete, due #{quiz.deadline})", edit_course_quiz_submission_path(current_course, quiz)
      - else
        %li= link_to "#{quiz.title} (due #{quiz.deadline})", course_quiz_submission_path(current_course, quiz), method: :post

- if can? :manage, Quiz
  %h2 Instructor Information:
  %ul.no-bullet
    - unpublished_quizzes.each do |quiz|
      %li= link_to "#{quiz.title} (Unpublished)", edit_course_quiz_path(current_course, quiz)
    - published_quizzes.each do |quiz|
      %li= link_to "#{quiz.title} (#{quiz.quiz_submissions.gradeable.count} completed, #{quiz.quiz_submissions.in_progress.count} in progress)", grade_course_quiz_path(current_course, quiz)

%ul.button-group
  - if can? :create, Assignment
    %li= link_to "New Assignment", select_course_assignments_path(current_course), class: "button fi-plus"
  - if can? :create, Quiz
    %li= link_to "New Quiz", new_course_quiz_path(current_course), class: "button fi-plus"
