%h1 Assignments

%ul
  - assignments.each do |assignment|
    %li= link_to assignment.title, course_assignment_path(current_course, assignment)
  - published_quizzes.each do |quiz|
    %li= link_to "#{quiz.title} Quiz (due #{quiz.deadline.strftime("%-m/%d")})", course_quiz_path(current_course, quiz)

- if current_user.instructor?
  %h2 Instructor Information:
  - unpublished_quizzes.each do |quiz|
    %li= link_to "#{quiz.title} Quiz (Unpublished)", edit_course_quiz_path(current_course, quiz)
    %li= link_to "Quiz Mockup", course_quiz_path(current_course, 1)

  %ul
    %li= link_to "New Assignment", select_course_assignments_path(current_course)
    %li= link_to "New Quiz", new_course_quiz_path(current_course)
