%h1= assignment.title
:markdown
  #{assignment.summary}

%h2 Assignment Prerequisites
%ul.prerequisites
  - assignment.prerequisites.each_with_index do |prerequisite|
    %li= prerequisite.material_fullpath

- can_submit_milestone = true
- assignment.milestones.each do |milestone|
  - already_submitted = current_user.milestones.include?(milestone)

  = render partial: "milestones/milestone", locals: { milestone: milestone, already_submitted: already_submitted, can_submit_milestone: can_submit_milestone }

  - if !already_submitted
    = can_submit_milestone = false
