%h1= assignment.title
:markdown
  #{assignment.summary}

- assignment.milestones.each_with_index do |milestone, index|
  .milestone
    %h2
      = milestone.title
      (due #{milestone.deadline.strftime("%-m/%d")})
    - if index == 0 or can?(:edit, milestone)
      :markdown
        #{milestone.instructions}
    - if index == 0
      %a.button Ability to submit these is pending
    - else
      %a.button Ability to view and submit is pending completion of previous milestones
