= simple_form_for self_report, html: { id: date }, defaults: {input_html: {class: 'tiny radius'}}, remote: true do |f|
  = f.hidden_field :date
  .row
    .small-12.columns
      %h6 Self-Report:
  .row
    .small-12.columns
      = f.label "Attended class"
  .row
    .small-12.columns
      = f.collection_radio_buttons :attended, [[true, 'Yes'] ,[false, 'No']], :first, :last
  .row
    .small-12.columns
      = f.input :hours_coding, as: :select, collection: 0..10
  .row
    .small-12.columns
      = f.input :hours_learning, as: :select, collection: 0..10
  .row
    .small-12.columns
      = f.input :hours_slept, as: :select, collection: 0..10
  .row
    .small-12.columns
      = f.button :submit, value: "Submit"
