
// $('td[data-date="<%=@self_report.date.strftime("%Y-%m-%d")%>"]').update("<%= escape_javascript(render(:partial => "completed_self_report", locals: {self_report: @self_report})) %>");
// alert("It did it");

$('td[data-date="<%=@self_report.date.strftime("%Y-%m-%d")%>"]').bind("ajax:success", function() {
  $('td[data-date="<%=@self_report.date.strftime("%Y-%m-%d")%>"] form').replaceWith("<%= escape_javascript(render(:partial => "completed_self_report", locals: {self_report: @self_report})) %>");
  })

// $(document).ready ->
//   $("#new_post").on("ajax:success", (e, data, status, xhr) ->
//     $("#new_post").append xhr.responseText
//   ).on "ajax:error", (e, xhr, status, error) ->
//     $("#new_post").append "<p>ERROR</p>"