%h2 Edit Your Profile
= simple_form_for current_user do |f|
  .row
    .small-12.columns
      %fieldset
        %legend General Information
        = f.input :email
        = f.input :name
        = f.input :phone
  .row
    .small-12.columns
      %fieldset
        %legend Profile Photo
        %p You must use a photo of your face, or there is no hope of Eliza learning your name.
        .row
          .small-12.large-3.columns
            %h6 Current Photo:
            = image_tag current_user.photo_url, class: "profile_photo"
            = f.input :photo_confirmed, label: "This is a picture of me."
          .small-12.large-8.columns
            %h6 Upload a new photo:
            = f.input :photo, as: :file, label: "Upload a photo"
  .row
    .small-3.columns
  - if can?(:edit_goals_and_background, current_user)
    .row
      .small-12.columns
        %fieldset
          %legend Private Information
          %p This information is only visible to you and your instructor(s).
          .row
            .small-6.columns
              = f.input :goals, input_html: { rows: 5 }
            .small-6.columns
              = f.input :background, input_html: { rows: 5 }
  .row
    .small-12.columns
      = f.button :submit, "Save Changes"
