%h2 Edit Your Profile
= simple_form_for current_user do |f|
  = f.input :email
  = f.input :name
  = f.input :phone
  - if can?(:edit_goals_and_background, user)
    = f.input :goals
    = f.input :background
  = f.button :submit, "Save Changes"
