%h1= user.name
%p= user.phone
%p= user.email
- if can?(:view_private_details_of, user)
  %p= user.goals
  %p= user.background
- if can?(:instructify, user) and !user.instructor
  = button_to "Make Instructor", instructify_user_path(user), class: "button"

- if user == current_user
  %p= link_to "Edit My Profile", [:edit, current_user]
