.row
  .small-6.large-2.columns
    =link_to(image_tag(user.photo, class: "profile_photo"), user_path)
  .small-6.large-10.columns
    %h1= user.name
    %p= link_to(user.github_username, "http://www.github.com/"+user.github_username)
    %p= user.phone
    %p= mail_to(user.email)
.row
  .small-12.columns
    - if can?(:view_private_details_of, user)
      %fieldset
        %legend Private Details
        %p
          %em This information only visible to you and your instructor(s).
        .row
          .large-6.columns
            %h5 Goals:
            %p= user.goals || "[Missing]"
          .large-6.columns
            %h5 Background:
            %p= user.background || "[Missing]"
.row
  .small-12.columns
    - if can?(:instructify, user) and !user.instructor
      = button_to "Make Instructor", instructify_user_path(user), class: "button small radius"
    - if user == current_user
      %p= link_to "Edit My Profile", [:edit, current_user], class: "button small radius"
