- if material = materials.find(covered_material.fullpath)
  %li
    - if material.link.present?
      - if can?(:manage, CoveredMaterial)
        = simple_form_for covered_material, url: course_covered_material_path(current_course, covered_material) do |f|
          = f.input :covered_on, label: "Date Covered"
          = f.button :submit, "Mark as Covered", class: "tiny"
      - else
        = covered_material.covered_on
      = link_to material.pretty_name, material.link
    %small= pretty_path_for(material)
