%h2 Edit Your Profile
= simple_form_for current_student, url: student_profile_path do |f|
  = f.input :email
  = f.input :name
  = f.input :phone
  = f.input :goals
  = f.button :submit, "Save Changes"
