%h1 Create New Course

= simple_form_for course do |f|
  = f.input :title
  = f.input :source_repository, label: "Source Repository", hint: "must be in the form of username/repo"
  = f.input :start_date, label: "Start Date", as: :date
  = f.input :end_date, label: "End Date", as: :date
  = f.button :submit, "Create Course"
