- materials.each do |material|
  - if can?(:manage, CoveredMaterial) and material.link.present?
    %li
      - if covered_material_links.include?(material.link)
        %span.button.tiny.secondary.disabled Covered
      - else
        = simple_form_for CoveredMaterial.new(material_fullpath: material.link, covered_on: Date.today), url: course_covered_materials_path(current_course) do |f|
          = f.input :material_fullpath, as: :hidden
          = f.button :submit, "Mark as Covered", class: "tiny"
      = link_to material.pretty_name, material.link
  - elsif !covered_material_links.include?(material.link)
    %li
      %span= material.pretty_name
    %ul= render partial: 'material', locals: { materials: material.children }

