- covered_material = covered_materials.find{|cm| cm.material_fullpath == material.link}
- if covered_material
  = render covered_material
- elsif material.leaf?
  - if can?(:manage, CoveredMaterial) and material.markdown?
    = render CoveredMaterial.new(material_fullpath: material.link, covered_on: Time.zone.now)
  - else
    %li
      .label.secondary.radius To Be Covered
      %small.pretty-path= pretty_path_for(material)
      %span.title= material.pretty_name
- else
  %li
    %span.title= material.pretty_name
    %ul= render partial: "materials/material", collection: material.children
