- materials.each do |material|
  - unless covered_material_links.include?(material.link)
    %li
      - if can?(:manage, CoveredMaterial) and material.link.present?
        = link_to material.pretty_name, material.link
        = simple_form_for CoveredMaterial.new(material_fullpath: material.link), url: course_covered_materials_path(current_course) do |f|
          = f.input :material_fullpath, as: :hidden
          = f.button :submit, "Mark as Covered", class: "tiny"
      - else
        %span= material.pretty_name
      %ul= render partial: 'material', locals: { materials: material.children }

