- materials.each do |material|
  - if material.link.present? or material.leaf?
    %li
      - if covered_material_links.include?(material.link)
        %span.button.tiny.secondary.disabled Covered
      - elsif material.link.present?
        = simple_form_for CoveredMaterial.new(material_fullpath: material.link, covered_on: Date.today), url: course_covered_materials_path(current_course) do |f|
          = f.input :material_fullpath, as: :hidden
          = f.input :covered_on, label: "Date Covered"
          = f.button :submit, "Mark as Covered", class: "tiny"
      - else material.leaf?
        %span.button.tiny.alert.disabled To Be Written
      = link_to material.pretty_name, material.link
      .material_directory
        %small= pretty_path_for(material)
