%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "The Courseware of the Future"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    - unless Rails.env.test?
      <link href='https://fonts.googleapis.com/css?family=Lato:200,300,400' rel='stylesheet' type='text/css'>
  %body
    - if notice
      .alert-box.success= notice
    - if alert
      .alert-box.alert= alert
    #header
      .row
        .small-6.columns
          - home_link = :root if can?(:manage, Course)
          = link_to home_link || current_course do
            %h3
              Inquizator
              %small The Courseware.. of the Future!
        .small-6.columns
          %ul#devise_navigation.inline-list.right
            - if user_signed_in?
              - if can?(:act_as_student, User)
                - if current_user.viewing_as_student?
                  %li Student View
                  %li= link_to "View As Instructor", destudentify_instructor_path, method: :post
                - else
                  %li Instructor View
                  %li= link_to "View As Student", studentify_instructor_path, method: :post
              %li= link_to "My Profile", user_path(current_user, course_id: current_course.try(:id))
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Sign In with Github", user_omniauth_authorize_path(:github)
      .row
        .small-12.columns
          %ul#main_navigation
            - if current_course
              %li= link_to "Syllabus", course_path(current_course), id: current_if("courses")
              %li
                = link_to course_calendar_path(current_course), id: current_if("events") do
                  Course Calendar
                  - if self_reports_due > 0
                    %span.count_icon= self_reports_due
              %li= link_to "Materials", course_materials_path(current_course), id: current_if("materials")
              %li= link_to "Assignments", course_assignments_path(current_course), id: current_if("assignments")
              %li= link_to "Peers", course_enrollments_path(current_course), id: current_if("enrollments", "users")
              %li.right
                %span
                  %a{ "data-dropdown" => "hover1", "data-options" => "is_hover:true" }= current_course.try(:title) || "Choose Course >"
                  %ul#hover1.f-dropdown{ "data-dropdown-content" => "" }
                    - (accessible_courses - [current_course]).each do |course|
                      %li= link_to_course course
                    - unless enrollment_eligible_courses.empty?
                      %li= link_to "Enroll in another course", new_enrollment_path
    #contents.row
      .small-12.columns
        = yield
    = javascript_include_tag "application"
