!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "The Courseware of the Future"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    - if notice
      .alert-box.success= notice
    - if alert
      .alert-box.alert= alert
    %ul#main_navigation
      - if student_signed_in?
        %li= link_to "My Profile", student_path(current_student)
        %li= link_to "Sign Out", destroy_student_session_path, method: :delete
      - elsif instructor_signed_in?
        %li= link_to "Sign Out", destroy_instructor_session_path, method: :delete
      - else
        %li= link_to "Sign Up", new_student_registration_path
        %li= link_to "Sign In", new_student_session_path
    .row
      .small-12.columns
        = yield
    = javascript_include_tag "application"
